<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="font/font_l8aky31owqmsfw29/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="font/font_6da68bqz92wng66r/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="font/font_d26cbs65x8e3766r/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="font/font_qkl6dynjjkh85mi/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="font/font_k925z7q5rsm50zfr/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="font/font_6nw696ooo7sqbyb9/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="font/font_pu0aharb2m/iconfont.css"/>
		<!--<link rel="stylesheet" type="text/css" href="font/font_3ycpxml5r9f/iconfont.css"/>-->
		<link rel="stylesheet" type="text/css" href="css/reset.css"/>
		<link rel="stylesheet" type="text/css" href="css/style.css"/>
		<link rel="stylesheet" type="text/css" href="css/listPage.css"/>
		<link rel="stylesheet" type="text/css" href="css/detailPage.css"/>
	</head>
	<body>
		<!--右侧导航条-->
		<div class="mgj_rightbar1">
			
		</div>
		<!--顶部-->
		<div class="header_top1"></div>
		<!--headerm_ce height 85-->
		<div id="mar_au" class="headerm_ce clearfix">
			<div class="headerm_l">
				<img src="images/logo2.jpg" title="logo" alt="这是一个logo" />
				<div class="headerl">
					<p><a href="#">女装橱窗</a></p>
					<p><i class="iconfont">&#xe60f;</i><i class="iconfont">&#xe60f;</i><i class="iconfont">&#xe60f;</i><i class="iconfont">&#xe60f;</i><i class="iconfont">&#xe60f;</i></p>
					<p><span>描述<em>4.68</em></span><span>质量<em>4.69</em></span><span>服务<em>4.78</em></span></p>
				</div>
				<div class="header_c">
					<a href="#" style="color: #999;"><em>+</em>收藏店铺</a>
					<a href="#" style="color: #999;"><i class="iconfont">&#xe7dc;</i>私聊</a>
					<i class="iconfont">&#xe60e;</i>
				</div>
				<div class="pos_menu">
					
				</div>
			</div>
			<div class="headerm_r">
				<div class="input_group1"  >
					<input name="" id=""  value="" />
					<a href="#" >搜全站</a><a style="border-radius: 5px;" href="#">搜本店</a>
				</div>
			</div>
		</div>
		<div class="detail_bg"><img src="images/detail_bg1.jpg" /></div>
		<!--nav导航-->
		<nav class="header_nav">
			<div class="nav_mid">
				<a href="#">首页<em></em></a><a href="#">全部商品<i class="iconfont">&#xe60e;</i>
					<ul>
						<li><em>&gt;</em>热卖</li>
						<li><em>&gt;</em>新品</li>
						<li><em>&gt;</em>棉衣.外套</li>
						<li><em>&gt;</em>连衣裙.半身裙</li>
						<li><em>&gt;</em>毛衣.针织衫</li>
						<li><em>&gt;</em>套装</li>
					</ul>
				</a>
			</div>
		</nav>
		<div class="detail_con">
			<!--<img src="images/detail_img1.jpg" />
			<div class="detail_mid">
				<h1 style="margin-bottom: 15px;">夏季韩版新款仙女连衣裙女仙女小清新复古交领刺绣和服袖气质雪纺冷淡风学生连衣裙两件套v领裙子</h1>
				<p class="detail_orpri"><span>价格:</span><span>128.00</span></p>
				<p class="detail_nowpri"><span>促销价:</span><span>￥89.60</span></p>
				<p class="detail_kefu"><span>客服:</span><span><i class="iconfont">&#xe7dc;</i>联系客服</span></p>
				<p class="detail_color"><span>颜色:</span><span><img src="images/detail_img1.jpg" /><img src="images/detail_img2.jpg"/></span></p>
				<p class="detail_size"><span>尺码:</span><span>S</span><span>M</span><span>L</span></p>
				<p class="detail_nums"><span>数量:</span><span>-</span><span>1</span><span>+</span><span>库存563件</span></p>
				<p class="detail_car"><span style="color: #fff;"><a  class="detail_nowpay" href=""  style="color: #fff;">立即购买</a></span><span style="color: #555;"><a class="detail_add_car" href="" style="color: #999;" >加入购物车</a></span></p>
				<p class="detail_share"><span><i class="iconfont" style="margin-right: 10px;font-size: 14px;">&#xe60f;</i>1522</span><span style="margin-left:10px;"><em style="margin-right: 10px;color: red;font-weight: bolder;font-size: 18px;">+</em>分享</span><span style="margin-left: 10px;">举报</span></p>
				<p class="detail_promise"><span>服务承诺:</span><a href="#" style="color: #999;"><img src="images/detail_img3.png" /><em>7天无理由退还</em></a><a href="#" style="color: #999;"><img src="images/detail_img4.png" /><em>退货补运费</em></a></p>
				<p class="detail_pay"><span>支付方式:</span><img style="margin-left: 10px;" src="images/detail_bg3.jpg" /><img src="images/detail_bg4.jpg" /><img src="images/detail_bg5.jpg" /></p>
				
			</div>-->
			
		</div>
		
		<div id="foot1">
		
		</div>
	</body>
	<script src="js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		// $(".mgj_rightbar1").load("index.html .mgj_rightbar");
		// $(".header_top1").load("index.html .header_top");
		// $("#foot1").load("index.html #foot");
		
	//------------------------------------------------------------------------------	
	class Detail{
			constructor(options){
				this.cont = options.cont
				this.load()
			}
			load(){
				var that = this;
				$.ajax({
					url:"json/goods.json"
				}).then(function(res){
					that.res = res;
					that.getCookie();
					that.display();
				},function(a,b,c){
					console.error("当前请求失败，错误代码为：" + b)
				});
			}
			getCookie(){
				this.goods = JSON.parse($.cookie("goods"));
			}
			display(){
				var that = this;
				var str = ""; 
				//this.res 是ajax请求的结果,val1是json对象里面的值
				//that.goods是cookie存储的数据,val2是cookie对象里面的值
				this.res.forEach(function(val1){
					that.goods.forEach(function(val2){
						if(val1.goodsId == val2.id){
							str = `
								<img src="${val1.src}" />
								<div class="detail_mid">
									<h1 style="margin-bottom: 15px;">${val1.title}</h1>
									<p class="detail_orpri"><span>价格:</span><span>${val1.now_pri}</span></p>
									<p class="detail_nowpri"><span>促销价:</span><span>￥${val1.ori_pri}</span></p>
									<p class="detail_kefu"><span>客服:</span><span><i class="iconfont">&#xe7dc;</i>联系客服</span></p>
									<p class="detail_color"><span>颜色:</span><span><img src="images/detail_img1.jpg" /><img src="images/detail_img2.jpg"/></span></p>
									<p class="detail_size"><span>尺码:</span><span>S</span><span>M</span><span>L</span></p>
									<p class="detail_nums"><span>数量:</span><span>-</span><span>1</span><span>+</span><span>库存563件</span></p>
									<p class="detail_car"><span style="color: #fff;"><a  class="detail_nowpay" href=""  style="color: #fff;">立即购买</a></span><span style="color: #555;"><a class="detail_add_car" href="" style="color: #999;" >加入购物车</a></span></p>
									<p class="detail_share"><span><i class="iconfont" style="margin-right: 10px;font-size: 14px;">&#xe60f;</i>1522</span><span style="margin-left:10px;"><em style="margin-right: 10px;color: red;font-weight: bolder;font-size: 18px;">+</em>分享</span><span style="margin-left: 10px;">举报</span></p>
									<p class="detail_promise"><span>服务承诺:</span><a href="#" style="color: #999;"><img src="images/detail_img3.png" /><em>7天无理由退还</em></a><a href="#" style="color: #999;"><img src="images/detail_img4.png" /><em>退货补运费</em></a></p>
									<p class="detail_pay"><span>支付方式:</span><img style="margin-left: 10px;" src="images/detail_bg3.jpg" /><img src="images/detail_bg4.jpg" /><img src="images/detail_bg5.jpg" /></p>
								</div>	
								<div class="detail_r">	
									<em></em>
									<h2>热卖推荐</h2>
									<dl>
										<dt><a href="#"><img src="images/detail_img5.jpg" /></a></dt>
										<dd>￥89.6</dd>
									</dl>
									<dl>
										<dt><a href="#"><img src="images/detail_img6.jpg" /></a></dt>
										<dd>￥89.6</dd>
									</dl>
									<dl>
										<dt><a href="#"><img src="images/detail_img7.jpg" /></a></dt>
										<dd>￥89.6</dd>
									</dl>
								</div>
							`
						}
					})
				})
				this.cont.html(str);
				$(".detail_mid").find(".detail_add_car").on("click",function(eve){
					var e = eve || window.event;
					e.preventDefault()
					var str = $.cookie("goods");
				 	$.cookie("goods3",str);
				 	location.href = "listPage.html"
				})
			}
		}
		new Detail({
			cont:$(".detail_con")
		})
	</script>
	
</html>
